<section class="login grow">
  <div class="login__wrapper">
    <div class="login__login-box">
      <h2>Login</h2>

      <%= render "sessions/form" %>

      <p><%= link_to "Forgot Password?", new_password_reset_path %></p>
    </div>
    <div class="login__register-box">
      <h2>Need an account?</h2>

      <%= render "users/form" %>

      <p>By creating an account you agree with the <a href="#" class="white">Terms of use</a> and <a href="#" class="white">Privacy policy</a>.</p>
    </div>
  </div>
</section>
