<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top" style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px;">
      <h1>Hello, <%= @user.name %>!</h1>
      <p style="margin-top: 20px; margin-bottom: 0;">
        <strong>A password reset has been request.</strong> If you did not request this, you can safely ignore this email. However, it might be benefitial to verify your account security.
      </p>
    </td>
  </tr>

  <tr>
    <td valign="top" style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; background-color: #eceff1; text-align: center;">
      <%= link_to "Reset your password", password_reset_path(@token), style: "background-color: #f35b48; text-transform: uppercase; text-decoration: none; color: #fff; font-size: 13px; min-width: 155px; text-align: center; border-radius: 1000px; padding: 10px 20px; font-weight: 700; letter-spacing: 1px; -webkit-appearance: none; font-family: 'Open Sans', sans-serif; border: 0; cursor: pointer;" %>
    </td>
  </tr>
</table>
