<table class="email-table">
  <tbody>
    <tr class="header-row">
      <td>
        <h1>Hello, <%= @user.name %>!</h1>
      </td>
    </tr>
    <tr class="body-row">
      <td>
        <p><%= link_to "Reset your password", password_reset_path(@token) %></p>
      </td>
    </tr>
  </tbody>
</table>
