<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top" style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px;">
      <h1>Hello, <%= @user.name %>!</h1>
      <p style="margin-top: 20px; margin-bottom: 0;">
        <strong>Your account has been updated.</strong> If you did not request this, please verify the security of your account.
      </p>
    </td>
  </tr>
</table>
