.button {
  &:focus {
    outline: none;
  }

  &--gradient {
    @include button(
      0, //background color
      map-get($color, "white"), //Text color
      "true"
    );
  }

  &--white {
    @include button(
      map-get($color, "white"), //background color
      map-get($color, "brand-secondary-second"), //Text color
      "false"
    );
  }

  &--grey {
    @include button(
      map-get($color, "light-grey"), //background color
      darken(map-get($color, "light-grey"), 35%), //Text color
      "false"
    );
  }

  &--ghost {
    @include button(
      transparent, //background color
      map-get($color, "brand-secondary-second"), //Text color
      "false"
    );
    border: 2px solid map-get($color, "brand-secondary-second");
  }

  &--small {
    min-width: 31px;
    font-size: 9px;
    padding: 7px 15px;
    display: table;
    margin-top: 7px;

    @include mediaquery("tablet") {
      min-width: 41px;
      font-size: 11px;
      padding: 7px 19px;
      margin-top: 15px;
    }
  }

  &--large {
    height: 56px;
    width: 100%;
    max-width: 366px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    text-transform: none;
  }

  &--green {
    background: linear-gradient(90deg, map-get($color, "green-primary"), map-get($color, "green-secondary"));
    color: map-get($color, "white");
    cursor: pointer;
  }

  &--full {
    width: 100%;
    max-width: 100%;
  }
}
