.intro {
  @include linear-gradient-b(45deg, rgba(map-get($color, "brand-secondary"), 1), rgba(map-get($color, "brand-secondary-second"), 1));
  color: map-get($color, "white");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  position: relative;

  @include mediaquery("tablet") {
    flex-direction: row;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: image-url("patterns/pattern1.png");
    opacity: 0.1;
    background-size: 160px;

    @include mediaquery("tablet") {
      background-size: 210px;
    }
  }

  &--blue {
    background: map-get($color, "brand-primary-third");

    &::before {
      opacity: 0.025;
    }
  }

  &--cart {
    background: map-get($color, "brand-primary-second");
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

    @include mediaquery("tablet") {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &::before {
      display: none;
    }
  }

  &--content {
    display: block;
  }
}

.intro__content {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 30px;
  position: relative;
  margin: 18px 0 20px;

  @include mediaquery("tablet") {
    width: 700px;
    margin: 0;
  }

  h2 {
    font-size: 23px;
    text-align: left;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 7px 0 15px;

    @include mediaquery("tablet") {
      font-size: 36px;
      line-height: 41px;
      margin: 7px 0 25px;
    }
  }
}

.intro__project {
  width: 100%;
  background-color: map-get($color, "white");
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 13px rgba(map-get($color, "black"), 0.13);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 140px;
  margin-top: 18px;

  @include mediaquery("mobile-large") {
    height: 190px;
  }

  @include mediaquery("tablet") {
    margin-top: 0;
    height: 230px;
  }
}

.intro__head {
  position: relative;
  z-index: 10;
  min-height: 90px;
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: center;
  padding: 20px 0;

  @include mediaquery("tablet") {
    min-height: 130px;
    padding: 25px 25px 25px 0;
  }

  &--form {
    margin-bottom: 0;
  }
}

.intro__title {
  margin-bottom: 5px;
  width: 100%;
  color: map-get($color, "white");

  &--small {
    font-size: 18px;
    line-height: 25px;

    @include mediaquery("tablet") {
      font-size: 28px;
      line-height: 34px;
    }
  }
}

.intro__subtitle {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  width: 100%;

  &--small {
    font-size: 13px;
    color: rgba(map-get($color, "white"), 0.36);
    position: relative;
    margin-top: -3px;
  }

  &--upload {
    display: flex;
  }

  span {
    color: rgba(map-get($color, "white"), 0.66);
  }

  a {
    color: rgba(map-get($color, "white"), 0.66);
    text-decoration: none;
  }
}

.intro__icon {
  width: 60px;
  margin: 30px 0;
  fill: map-get($color, "white");
  fill-opacity: 0.2;

  @include mediaquery("tablet") {
    width: 90px;
  }
}
