.post {
  @include maxwidth(30px);
  position: relative;
  margin-top: -115px;

  @include mediaquery("tablet") {
    @include maxwidth(50px);
    display: flex;
    justify-content: space-between;
    margin-top: -200px;
  }
}

.post__article {
  width: 100%;

  @include mediaquery("tablet") {
    width: calc(100% - 315px);
    padding: 0 25px 0 0;
  }

  @include mediaquery("desktop") {
    width: calc(100% - 366px);
  }
}

.post__aside {
  width: 100%;
  display: none;

  @include mediaquery("tablet") {
    position: relative;
    width: 315px;
    display: block;
  }

  @include mediaquery("desktop") {
    width: 366px;
  }

  &--upload {
    display: block;
    margin-top: 20px;

    @include mediaquery("tablet") {
      margin-top: 0;
    }
  }
}

.post__actions {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &--mobile {
    @include mediaquery("tablet") {
      display: none;
    }
  }

  .button {
    margin: 0;
    width: calc(100% / 2 - 5px);
    min-width: 0;
    height: 45px;
    font-size: 13px;
    padding: 25px 10px;
  }
}

.actions__title {
  width: 100%;
  text-align: left;
  padding: 10px 0 0;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.actions__question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background: darken(map-get($color, "light-grey"), 50%);
  border-radius: 100%;
  color: map-get($color, "white");
  font-weight: 700;
  font-size: 11px;
  margin-left: 5px;
  cursor: pointer;
}

.actions__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 0 24px rgba(map-get($color, "black"), 0.15);
  background: map-get($color, "white");
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0 0;
}

.post__button {
  margin-top: 16px;
}

.post__form {
  width: 48%;
  display: block;
  font-size: 11px;
  min-width: 135px;

  @include mediaquery("tablet") {
    width: 100%;
    font-size: 13px;
    padding: 12px 20px;
    margin-bottom: 10px;
    padding: 0;
  }

  input {
    width: 100%;
  }
}

.post__image {
  width: 100%;
  background: map-get($color, "white");
  box-shadow: 2px 0 24px rgba(map-get($color, "black"), 0.15);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    padding-top: 57.6%;
    width: 100%;
    display: block;
  }
}

.image__banner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.image__banner-upload {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  svg {
    height: 60px;
    width: 100px;
    fill: map-get($color, "light-grey");

    @include mediaquery("mobile") {
      height: 100px;
    }
  }
}

.image__error {
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 100%;
  background: map-get($color, "brand-secondary");
  color: map-get($color, "white");
  padding: 20px 25px;
  font-weight: 600;
  z-index: 80;
  pointer-events: none;
  transition: bottom 300ms ease;

  &--is-active {
    bottom: 0;
  }

  &--thumb {
    padding: 6px 8px;
    font-size: 11px;
  }
}

.image__title {
  padding-top: 5px;
  color: darken(map-get($color, "light-grey"), 11%);
  font-weight: 600;
}

.image__description {
  color: darken(map-get($color, "light-grey"), 11%);
  font-style: italic;
  padding: 5px 20px 0;
  width: 100%;
  max-width: 490px;
  text-align: center;
}

.image__placeholder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.image__placeholder-thumb {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.image__thumbnail {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 100px;
  width: 100px;
  background: map-get($color, "white");
  box-shadow: 2px 0 24px rgba(map-get($color, "black"), 0.15);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  @include mediaquery("desktop") {
    right: 20px;
    top: 20px;
  }

  &--cursor-normal {
    cursor: default;
  }

  svg {
    height: 50px;
    width: 50px;
    fill: map-get($color, "light-grey");
  }
}

.post__content {
  margin-top: 20px;
  display: block;

  p {
    margin: 10px 0;
    line-height: 26px;

    @include mediaquery("tablet") {
      margin: 25px 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  ul {
    margin: 25px 0;
  }

  h3 {
    font-size: inherit;
    text-transform: none;
  }

  blockquote {
    margin: 0;
    background: darken(map-get($color, "white"), 3%);
    padding: 10px 25px;

    @include mediaquery("tablet") {
      padding: 10px 45px;
    }

    p {
      &::before {
        content: '"';
      }

      &::after {
        content: '"';
      }
    }
  }
}

.post__license {
  background: map-get($color, "white");
  padding: 25px;
  box-shadow: 2px 0 24px rgba(map-get($color, "black"), 0.15);
  color: map-get($color, "dark-grey");
  margin: 20px 0;

  @include mediaquery("tablet") {
    margin: 48px 0 0;
    padding: 35px;
  }
}

.post__price {
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;

  &--upload {
    display: flex;
  }
}

.license__title {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  margin: 23px 0 19px;
  letter-spacing: 0;
}

.lisence__content {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
