$gutter: 20px;
@include griddify(4, 2, map-get($element, "project-spacing"), 1.25, projects__parent, project);

.projects {
  @include maxwidth(30px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mediaquery("tablet") {
    @include maxwidth(50px);
  }
}

.projects__parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects__title {
  color: darken(map-get($color, "light-grey"), 35%);
  margin-bottom: 30px;
  width: 100%;
  text-align: left;

  &--centerd {
    text-align: center;
  }
}

.projects__subtitle {
  width: 100%;
  margin: -25px 0 30px;
}

.projects__more {
  margin-top: 20px;
  float: left;
}

.project {
  min-height: 100px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 13px rgba(map-get($color, "black"), 0.13);
  overflow: hidden;
  will-change: transform;
  transition: transform 200ms ease;

  &:hover {
    transform: scale(1.03);
  }

  &::before {
    content: "";
    display: inline-block;
    padding-top: 150%;
    background: map-get($color, "white");
    width: 100%;
    border-radius: 5px;
    vertical-align: middle;
  }
}

.project__gradient {
  background: linear-gradient(to top, map-get($color, "white") 50%, rgba(map-get($color, "black"), 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 101%;
  height: 80%;
}

.project__image {
  background: map-get($color, "white");
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  display: block;
  line-height: 0;
  top: 0;
  height: auto;

  &:hover,
  &:active {
    .project__overlay {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    padding-top: 100%;
    display: inline-block;
  }
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(map-get($color, "brand-primary-third"), 0.8);
  transition: opacity 300ms ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.project__content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  word-break: break-word;

  @media screen and (min-width: 760px) {
    padding: 30px;
  }

  @media screen and (min-width: 901px) {
    padding: 15px;
  }

  @media screen and (min-width: 1020px) {
    padding: 30px;
  }
}

.project__name {
  color: map-get($color, "white");
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;

  @media screen and (min-width: 425px) {
    font-size: 18px;
    line-height: 23px;
    white-space: inherit;
  }

  @media screen and (min-width: 520px) {
    font-size: 20px;
    line-height: 25px;
  }

  @media screen and (min-width: 601px) {
    font-size: 16px;
    line-height: 21px;
  }

  @media screen and (min-width: 670px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.project__price {
  font-weight: 400;
  color: map-get($color, "white");
  margin: 5px 0 0;
  font-size: 14px;

  @media screen and (min-width: 520px) {
    margin: 10px 0 0;
    font-size: 19px;
  }
}

.project__author {
  font-weight: 300;
  font-size: 14px;
  color: map-get($color, "white");
  text-transform: capitalize;
  margin-top: 2px;
}
