<table class="email-table">
  <tbody>
    <tr class="body-row">
      <td>
        <p>Thanks for your purchase of <strong><%= @purchase.title %></strong></p>
        <p>Cost: <%= @purchase.price %></p>
      </td>
    </tr>
  </tbody>
</table>
