<table class="email-table">
  <tbody>
    <tr class="header-row">
      <td>
        <h1>Hello, <%= @user.name %>!</h1>
      </td>
    </tr>
    <tr class="body-row">
      <td>
        <p>We have received your withdrawal request for <%= @withdrawal.amount %>.</p>
      </td>
    </tr>
  </tbody>
</table>
