<section class="dashboard">
  <%= render "dashboard/menu" %>

  <div class="dashboard__content">
    <h3 class="content__title">Upload</h3>
    <h1 class="content__subtitle">Upload a new project</h1>
    <div class="content__subject">
      <%= render "form" %>
    </div>
  </div>
</section>
