<!-- <h2>Thanks, you paid &euro;<%= @total_price %>!</h2> -->
<section class="intro intro--blue">
  <h1 class="intro__title">Thanks for shopping at CSSmarket</h1>
  <h2 class="intro__subtitle">Order id: 53929012</h2>
</section>

<section class="projects">
  <h3 class="projects__title">Your orders</h3>
  <p class="projects__subtitle">An email has been sent to you. The items are now available on your <%= link_to "downloads", dashboard_downloads_path %> page.</p>
  <div class="projects__parent">
    <%= render @posts %>
  </div>
</section>
